<h3 class="subscription__heading">
    {{m.subscription_heading}}
</h3>
<p class="subscription__lead">
    {{m.subscription_lead}}
</p>

<ul class="subscription__advantages-list">

    <li class="subscription__advantage">
        {{m.sub_item_1}}
    </li>
    <li class="subscription__advantage">
        {{m.sub_item_2}}
    </li>
    <li class="subscription__advantage">
        {{m.sub_item_3}}
    </li>
    <li class="subscription__advantage">
        {{m.sub_item_4}}
    </li>
    <li class="subscription__advantage">
        {{m.sub_item_5}}
    </li>
    <li class="subscription__advantage">
        {{m.sub_item_6}}
    </li>

</ul>

<ul class="subscription__info">

    <li class="subscription__info-item">
        {{m.sub_info_1}}
        <span class="subscription__info-item--desc">₽</span>
    </li>

    <li class="subscription__info-item">
        {{m.sub_info_2}}
        <span class="subscription__info-item--desc">месяцев</span>
    </li>
</ul>

<ul class="subscriptions__list-button">
    <li class="subscriptions__item-button">
            <button class="jsBuyButton button" value="{{m.value}}">
                Заказать Абонемент
            </button>
    </li>
    <li class="subscriptions__item-button ">
        <button class="jsConsultationButton button button-transparent">
            Консультация
        </button>
    </li>
</ul>

