<div class="container">
    <section class="about">
        <div class="row">

            <div class="col-lg-5">
                <h2 class="visually-hidden">О клубе SportRing</h2>
                <h3 class="about__heading">SportRing</h3>
            </div>


            <div class="col-lg-6">
                <p class="about__lead">Семейный фитнес клуб SportArea - лучшее решение на рынке спортивных
                    комплексов.</p>
                <p class="about__paragraph">
                    Фитнес-центр «SportRing» - это обновленный и на сегодняшний день самый крупный
                    фитнес-центр в Воронеже. В просторы клуба площадью более 10000 м<sup>2</sup> входят комплекс услуг:
                    просторный тренажерный зал, кардиозал с панорамным остеклением, зал функционального тренинга,
                    сайкл-студия,
                    зал персонального тренинга, релакс-зона, школа танцев, уникальный зал единоборств.
                </p>
                <p class="about__paragraph">
                    Очень приветливый персонал, внимательные, профессионально обученные инструкторы. У
                    вас проблемы со спиной, суставами? После посещений у вас все будет в порядке. Очень
                    эффективные групповые программы, переиодически обновляются. Повторные
                    фитнес-тестирование покажут ваше улучшение большинства показателей физической
                    подготовленности организма. Сердце станет более выносливым.
                </p>
            </div>

        </div>
    </section>
</div>