<script src="static/js/script.min.js"></script>
<script src="static/js/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".firstScreenSwiper", {
          direction: "vertical",
          pagination: {
            clickable: true,
          el: ".swiper-pagination",
        },
      });
    </script>

<!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".gallerySwiper",{
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

