<div style="height:600px;width: 500px;background-color: #eeeeee;color: #333;letter-spacing: 1px;line-height: 1.5;font-size: 18px;">
    <div style="text-align: center;margin: 0 auto;">
        <p style="font-size: 21px;line-height: 1.3;font-weight: 700;padding-top: 50px;margin-bottom: 40px">
        Спасибо за заявку!
        </p>
            <p style="margin-bottom: 20px;width:306px;margin-right: auto;margin-left: auto">
                <strong>{{name}}</strong>,<br> Ваша заявка принята. При посещении нашего фитнеса предъявите уникальный ID, предварительно оплатив.

        </p>

            <p style="width: 250px;margin-bottom: 45px;margin-right: auto;margin-left: auto">
                Вам дадут абонемент и заведут вам карточку!
            </p>

        <p style="font-weight: 700;font-size: 21px;margin-bottom: 35px;">
            Ваш уникальный ID
        </p>

        <p style="font-size: 21px;height: 40px;">
            {{unikID}}
        </p>

        <p style="margin-top: 60px">
            С уважением SportRing!
        </p>
    </div>
</div>