{%load static%}
<div class="videos__wrapper">
    <div class="container">

        <sections class="videos">
            <h2 class="videos__heading">Видео</h2>
            <div class="row">

                <div class="col-sm-6 col-12">

                    <div class="videos__inner-wrapper">
                        <div class="videos__img-wrapper">
                            <iframe poster="static/img/src/videos/videos-1.jpg" class=" img-responsive videos__preview videos__preview-first" src="https://www.youtube.com/embed/vRe5BuefvX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <h3 class="videos__video-heading">Один день из жизни фитнес-клуба</h3>
                    </div>
                </div>

                <div class="col-sm-6 col-12">

                    <div class="videos__inner-wrapper">
                        <div class="videos__img-wrapper">
                            <iframe  poster="static/img/src/videos/videos-2.jpg" class=" img-responsive videos__preview videos__preview-second" id="videos__video-second" src="https://www.youtube.com/embed/WLuT_olZfmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay = true; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autofocus></iframe>
                        </div>
                        <h3 class="videos__video-heading">Обзорная экскурсия по фитнес-клубу</h3>
                    </div>
                </div>

            </div>
        </sections>

    </div>
</div>