{%load static%}
<ul class="services__advantages">
    <li class="services__advantage">
        <img src="{%static 'img/services/advantage-1-1.svg'%}" alt="" class="services__icon">
        Современное оборудование
    </li>
    <li class="services__advantage">
        <img src="{%static 'img/services/advantage-1-2.svg'%}" alt="" class="services__icon">
        Профессиональные тренера
    </li>
    <li class="services__advantage">
        <img src="{%static 'img/services/advantage-1-3.svg'%}" alt="" class="services__icon">
        Зона плавания для подготовки
    </li>
</ul>