
<div class="swiper gallerySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{{slide__img_1}}" alt=""
                 class="img-responsive gallery__img">
        </div>
        <div class="swiper-slide">
            <img src="{{slide__img_2}}" alt=""
                 class="img-responsive gallery__img">
        </div>
        <div class="swiper-slide">
            <img src="{{slide__img_3}}" alt=""
                 class="img-responsive gallery__img">
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>